<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.boot.rest.modules.mapper.MaptInfoMapper">

    <resultMap id="BaseResultMap" type="spring.boot.rest.modules.entity.MaptInfo">
        <id column="MAPT_ID" property="maptId" jdbcType="INTEGER"/>
        <result column="MAPT_NAME" property="mapName" jdbcType="VARCHAR"/>
        <result column="MAPT_THUMB_ID" property="maptThumbId" jdbcType="VARCHAR"/>
        <result column="MAPT_DESC" property="maptDesc" jdbcType="VARCHAR"/>
        <result column="MAPT_DETAILS" property="maptDetails" jdbcType="VARCHAR"/>
        <result column="MAPT_TYPE" property="maptType" jdbcType="VARCHAR"/>
        <result column="MAPT_TAGS" property="maptTags" jdbcType="VARCHAR"/>
        <result column="MAPT_LAYERS" property="maptLayers" jdbcType="VARCHAR"/>
        <result column="MAPT_CREATEDATE" property="maptCreatedate" jdbcType="VARCHAR"/>
        <result column="MAPT_CREATEBY" property="maptCreateby" jdbcType="VARCHAR"/>
        <result column="MAPT_UPDATEDATE" property="maptUpdatedate" jdbcType="VARCHAR"/>
        <result column="MAPT_UPDATEBY" property="maptUpdateby" jdbcType="VARCHAR"/>
        <result column="IS_PUBLIC" property="maptIsPublic" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from IC_MAPT_INFO
    </select>


    <select id="queryMaptInfoById" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM IC_MAPT_INFO WHERE MAPT_ID=#{id}
    </select>

    <select id="queryMaptInfoByType" parameterType="string" resultMap="BaseResultMap">
        SELECT * FROM IC_MAPT_INFO WHERE MAPT_TYPE=#{strAttr}
    </select>

    <select id="queryLatestMaptInfo"  resultMap="BaseResultMap">
        SELECT * FROM IC_MAPT_INFO ORDER BY MAPT_CREATEDATE DESC
    </select>

</mapper>